.classpath
.DS_Store
.gradle
.groovy
.idea
.project
.settings
*.class
*.iml
BACKUPDEFAULT.if
bin
build
license
out
gemfire.properties
vf.gf.dmn-events.txt
vf.gf.dmn-license.cfg
vf.gf.acn-serial-numbers.txt
vf.gf.dmn-serial-numbers.txt

